<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
  	<script src="/socket.io/socket.io.js"></script>
  	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script><!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
	<script>

		var socket = io.connect();

		var dec = true;
		function validate(){
			var name = document.getElementById('var1').value;
			var pass = document.myform.password.value;
			if(name == "" || name == null){
				alert('Username cannot be Null');
				document.myform.username.value = "";
				document.myform.password.value = "";
				return false;
			}
			else if(pass.length == 0){
				alert('Password field is Empty ');
				document.myform.username.value = "";
				document.myform.password.value = "";
				return false;
			}else{

				socket.emit('Validate User',{username:name , password:pass});
						
				socket.on('Authentication',function(data){
					
					console.log(data.val + ' , ');
					dec = data.val;
				});
			}
			console.log(dec);
			return dec;
		}
	</script>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Login</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/Login" method="post" name = "myform" onsubmit = "return validate()">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username" id = "var1">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password" id = "var2">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Login</button>
	</form>

	<hr>

	<p>Need an account? <a href="/signup">Signup</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
