<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
  	<script src="/socket.io/socket.io.js"></script>
  	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script><!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>

	<script>

		var socket = io.connect();

		function check(){
			
			var name = document.getElementById('var1').value;			
			
			socket.emit('Existing User',{username:name});
			socket.on('User Validation', function(data){
				if(data.val == false){
					return socket.id;
				}
				else
					return name;
			});
		}

		function validate(){
			var name = document.getElementById('var1').value;
			var pass = document.getElementById('var2').value;
			var repass = document.form.repass.value;
			if(name == "" || name == null){
				alert('Username cannot be Null');
				document.form.username.value = "";
				document.form.password.value = "";
				document.form.repass.value = "";
				return false;
			}if(pass.length <= 5){
				alert('Password must be at least 6 characters');
				document.form.username.value = "";
				document.form.password.value = "";
				document.form.repass.value = "";
				return false;
			}if(pass != repass){
				alert('Password and Re-enter Password must be the Same');
				document.form.username.value = "";
				document.form.password.value = "";
				document.form.repass.value = "";
				return false;
			}if(check() == name){
				alert('Username Already Exists \n Please select a different Usernane');
				document.form.username.value = "";
				document.form.password.value = "";
				document.form.repass.value = "";
				return false;
			}
			
			window.onunload = function(){
				socket.emit('disconnect');
			}
		}
	</script>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/Signup" method="post" name="form"  onsubmit="return validate()">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username" id="var1">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password" id="var2">
		</div>
		<div class="form-group">
			<label>Re-enter Password</label>
			<input type="password" class="form-control" name="repass" id="var3">
		</div>
		
		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>